# Distribution file for the FractureSim project.
# http://www.openengine.dk/wiki/Projects/FractureSim

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
git /projects/FractureSim https://github.com/OpenEngineDK/projects-FractureSim.git
git-dev /projects/FractureSim git@github.com:OpenEngineDK/projects-FractureSim.git

# required extensions
git /extensions/SetupHelpers           https://github.com/OpenEngineDK/extensions-SetupHelpers.git
git /extensions/HUD                    https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/SDLImage                    https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/CairoResource                    https://github.com/OpenEngineDK/extensions-CairoResource.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/TGAResource            https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/OBJResource            https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git
git /extensions/GenericHandlers        https://github.com/OpenEngineDK/extensions-GenericHandlers.git
git /extensions/CUDA                   https://github.com/OpenEngineDK/extensions-CUDA.git
git /extensions/ActionMappers          https://github.com/OpenEngineDK/extensions-ActionMappers.git


git-dev /extensions/SetupHelpers           git@github.com:OpenEngineDK/extensions-SetupHelpers.git
git-dev /extensions/HUD                    git@github.com:OpenEngineDK/extensions-HUD.git
git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/TGAResource            git@github.com:OpenEngineDK/extensions-TGAResource.git
git-dev /extensions/OBJResource            git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/AccelerationStructures git@github.com:OpenEngineDK/extensions-AccelerationStructures.git
git-dev /extensions/GenericHandlers        git@github.com:OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/CUDA                   git@github.com:OpenEngineDK/extensions-CUDA.git
git-dev /extensions/ActionMappers          git@github.com:OpenEngineDK/extensions-ActionMappers.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/tetrahedron.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/box.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/sphere.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/bar_2_5x2_5x2_5.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/bar_5x5x5.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/bar_10x10x10.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/bar_20x20x20.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/test_tooth_high_res.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/test_tooth.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/tooth_noslice_simple.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/tooth_noslice.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/tooth_slice_simple.zip
any /projects/FractureSim/data/solids    http://www.openengine.dk/data/projects/FractureSim/solids/tooth_slice.zip

any /projects/FractureSim/data/models    http://www.openengine.dk/data/projects/FractureSim/models/flightArrow7.zip
any /projects/FractureSim/data/models    http://www.openengine.dk/data/projects/FractureSim/models/box12.zip
any /projects/FractureSim/data/models    http://www.openengine.dk/data/projects/FractureSim/models/sphere180.zip
any /projects/FractureSim/data/models    http://www.openengine.dk/data/projects/FractureSim/models/sphere80.zip
